<div class = "pc_site">
  <div class  = "pc_img">
    <div class = "headers">
      <div class = "icon">
        <img src = "assets/logo_0.png", height= "50px",whidth ="50px" ,class = "icon_img">
      </div>
      <div class = "header_fonts_box">
        <div  class = "home">home</div>
        <div  class = "about">about</div>
        <div  class = "access">access</div>
        <div  class = "contact">contact</div>
      </div>
    </div>
    <div class = "title_fonts">Responsive Site</div>
  </div>
</div>