<h1>Lesson1</h2>

<div class = "Box">
  <div class = "Box1"></div>
  <div class = "clearfix">
    <div class = "Box2"></div>
    <div class = "Box3"></div>
  </div>
  <div class = "Box4"></div>

</div>


<br>


<h1>Lesson2</h2>
<div class = "Box">
  <div class = "Box1"></div>
  <div class = "clearfix">
    <div class = "Box2"></div>
    <div class = "yellow"></div>
    <div class = "orange"></div>
    <div class = "blue"></div>
    <div class = "red"></div>
    
  </div>
  <div class = "Box4"></div>

</div>


<br>

<h1>Lesson3</h1>
<div class = "Box">
  <div class = "dark_blue">
    <ul class = "white">
      <li class= "reds"></li>
      <li class= "reds"></li>
      <li class= "reds"></li>
    </ul>
  </div>
  <div class = "clearfix">
    <div class = "green"></div>
    <div class = "dark_red">
      <ul class = "whites1">
        <li class = "oranges"><li>
      </ul>
      <ul class = "whites2">
        <li class = "oranges"><li>
      </ul>
      <ul class = "whites3">
        <li class = "oranges"><li>
      </ul>
    </div>
  </div>
  <div class = "brawn"></div>

</div>


<h1>Lesson sp-1</h1>

<div class= "back_ground_box">
  <div class = "header_box">
    <div class = "white_box">
      <div class = "white_circle"></div>
      <div class = "white_squere"></div>
    </div>

  </div>
  <div class = "body_box">
    <ul class = "face_comment_box">
      <li class = "face"></li>
      <li class = "comment"></li>
      
    </ul>
    <ul class = "face_comment_box">
      <li class = "face"></li>
      <li class = "comment"></li>
      
    </ul>
        <ul class = "face_comment_box">
      <li class = "face"></li>
      <li class = "comment"></li>
      
    </ul>
        <ul class = "face_comment_box">
      <li class = "face"></li>
      <li class = "comment"></li>
      
    </ul>
  </div>


  <div class= "footer_box"></div>


</div>

<h1>Lesson sp-2</h1>
  <div class = "basic_box">
    <div class = "orange_header">
      <div class = "header_white_box">
        <div class ="white_wide_box"></div>
        <div class = "circle_box">
          <div class = "whites_circle"></div>
          <div class = "whites_circle"></div>
        </div>
      </div>
    </div>
    <div class = "middle_contents">
      <div class = "white_boxes">
        <div class = "white_box1"></div>
        <div class = "white_box1"></div>
        <div class = "white_box1"></div>
      </div>
      <div class = "white_boxes">
        <div class = "white_box1"></div>
        <div class = "white_box1"></div>
        <div class = "white_box1"></div>
      </div>
      <div class = "white_boxes">
        <div class = "white_box1"></div>


      </div>
    
    </div>
      <div class = "dark_blue_footer">
      </div>
  </div>
