/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 vertical-align:baseline;
 background:transparent;
}

body {
 /* プロジェクトによって変動 */
 min-width: 1000px;
 color: #000;
 line-height: 1.6;
 font-weight: 400;
 font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'YuGothic', '游ゴシック', 'メイリオ', Meiryo, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;

 width: 100%;
 font-smoothing: antialiased;
 font-variant-numeric: tabular-nums;
 /* safari hover対策 */
 -webkit-font-smoothing: antialiased;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
 display:block;
}

ul, ol {
 list-style:none;
}

blockquote, q {
 quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}

a {
 margin:0;
 padding:0;
 vertical-align:baseline;
 text-decoration: none;
 color: inherit;
}

/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}

/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000;
 font-style:italic;
 font-weight:bold;
}

del {
 text-decoration: line-through;
}

abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}

table {
 border-collapse:collapse;
 border-spacing:0;
}

/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0;
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}

input, select {
 vertical-align:middle;
}

img {
 vertical-align: bottom;
 line-height: 1.0;
}

button {
 line-height: 1.0;
 background-color: transparent;
 border: none;
 cursor: pointer;
 outline: none;
 padding: 0;
 appearance: none;
}


.Box{
  width: 400px;
  margin: 0 auto;
}


.Box1{
  width: 400px;
  height:100px;
  background-color: #141f40;
}



.Box2{
  height: 250px;
  width: 150px;
  background-color: #80bfa8;
  float: left;
}

.Box3{
  height: 250px;
  width: 250px;
  background-color: #8c2727;
  float: left;
  

}


.clearfix:after {
  content: " ";/* ピリオドを消してスペース入れました。 */
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

.Box4{
  height: 100px;
  width: 400px;
  background-color: #d98d30;
}


.yellow{
  height: 50px;
  width: 150px;
  background-color:#dbd640;
  float: left;

}
.blue{
  height: 100px;
  width: 150px;
  background-color:#0093b7;
  float: left;

}

.orange{
  height: 150px;
  width: 100px;
  background-color:#ff9e6b;
 
  float: right;

}



.red{
  height: 100px;
  width: 250px;
  background-color: #8c2727;
  float: left;
  

}


.dark_blue{
  width: 400px;
  height:100px;
  background-color: #141f40;
  position: relative;
}

.white{
  position: absolute;
  background-color: white;
  width: 160px;
  height: 60px;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: space-evenly;
}

.reds{
  margin-top: 10px;

  width: 40px;
  height: 40px;
  background-color: #a9004b;

}

.green{
  height: 250px;
  width: 150px;
  background-color: #80bfa8;
  float: left;
}


.dark_red{
  height: 250px;
  width: 250px;
  background-color: #8c2727;
  float: left;
  position: relative;
}


.whites1{
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: rgb(248, 248, 247);
  margin :40px 60px 10px 40px;
 
}


.oranges{
  box-sizing: border-box;
  background-color: #ff863f;
  width: 100%;
  height: 100%;
  border: solid #f8f8fa 5px;
  padding: 5px;
}


.whites2{
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: rgb(248, 248, 247);
  margin :100px 60px 30px 40px;
 
}


.whites3{
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: rgb(248, 248, 247);
  margin :160px 60px 40px 40px;
 
}


.brawn{
  height: 100px;
  width: 400px;
  background-color:#d98d30;
 
  
}


.back_ground_box{
  height: 800px;
  width: 500px;

  margin: auto;
  background-color: rgb(196, 189, 189);
}

.header_box{
  height: 100px;
  width: 500px;
  background-color: rgb(201, 25, 119);

}

.white_box{



  width: 480px;
  height: 60px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;

 
}

.white_circle{

  width: 50px;
  height: 50px;
  border-radius: 50px;
 
  background-color: rgb(247, 243, 243);
}

.white_squere{

  width: 200px;
  height: 50px;
  border-radius: 10px 10px 10px 10px ;
  background-color: white;
}

.body_box{
 

  background-color: rgb(196, 189, 189);
  width: 500px;
  height: 600px;

}

.face_comment_box{
 
  width: 400px;
  height: 130px;

  margin: 20px 50px;
  display: flex;
  justify-content: space-evenly;

}

.face{
  background-color: gray;
  border-radius: 10px 10px 10px 10px;
  width: 50px;
  height: 50px;
}

.comment{
  background-color: rgb(243, 243, 243);
  border-radius: 10px 10px 10px 10px;
  width: 300px;
  height: 100px;

}


.footer_box{
  background-color: darkblue;
  width: 500px;
  height: 100px;
}

.basic_box{
  width: 500px;
  height: 700px;
  background-color: rgba($color: #cecaca, $alpha: 1.0);
  margin: 0 auto;
}


.orange_header{
  height: 100px;
  width: 500px;
  background-color: orange;
  position: relative;
}


.header_white_box{
  width: 480px;
  height: 50px;
  margin: 22px 8px;

  position: absolute;
  display: flex;
  justify-content: space-between;
}


.white_wide_box{
  width: 150px;
  height: 50px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;

}

.circle_box{
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.whites_circle{
  width: 50px;
  height: 50px;
  border-radius: 50px;
 
  background-color: white;
}



.middle_contents{
  width: 480px;
  height: 450px;

  margin: 50px auto;
  
}

.white_boxes{
  width: 450px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  
}

.white_box1{
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px rgba($color: #b9b4b4, $alpha: 1.0);
  
}




.dark_blue_footer{
  width: 500px;
  height: 100px;
  background-color: rgb(14, 14, 105);
}


